#wrapper {
    width: 902px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#knifefork {
    height: 42px;
    width: 45px;
}

.rssmail {
    margin-left: 10px;
}

/* .delicious {
    height: 42px;    
} */

#heading1 {
    font-family: 'Yellowtail' , cursive;
    font-size: 35px;
    display: inline-block;
    margin-top: 12px;
    margin-left: 10px;
}

#heading1sub {
    /* display: inline-block; */
    font-size: 12px;
    margin: 0 auto;
    margin-left: -10px;
    margin-top: 10px;
    display: inline;
    position: relative;
    top: 10px;
    right: 100px;
    
}

hr {
    height: 10px;
    background-color: #DDD;
    margin-top: 30px;
    width: 100%;
}

#cpizza {
    margin-top: 50px;
    margin-bottom: -10px;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    /* display: inl; */
    /* justify-content: left; */
}

/* p {
    display: inline;
    position: relative;
    top: 10px;
    right: 100px;
    /* margin-bottom: 150px; */ 
} */

#posted {

}

.post {
   /* display: flex; */
}

#print {
    display: flex;
}

#printicon {
    width: 10px;
    height: 10px;
    
}

#printwrapper {
    float: right;
}

main {
    width: 900px;
}

.maintext {
    text-indent: 2rem;
    color: grey;
}

.list {
    width: 902px;
    height: 300px;
    background-color: #cccccc;
    background-image: url("photos/list-bg.png");
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

input {
    z-index: -10;
}

.linethrough {
    text-decoration: line-through;
}

li {
   list-style-type: none;
   font-family: fantasy;
   color: rgb(164, 81, 81);
}

footer {
    display: flex;
}

#author {
    height: 68px;
    width: 71px;
    margin-top: 15px;
}

#authorh {
    width: 200px;
    margin-left: 20px;
    color: grey;
}

#authortext {
    margin-top: 50px;
    margin-left: -187px;
    width: 500px;
    color: grey;
}

button {
    height: 43px;
    width: 150px;
    margin-top: 25px;
    background-color: rgb(205, 103, 91);
    color: rgb(232, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 200px;
}

#footlogo {
    height: 30px;
    margin-left: 425px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.50;
}

